<div class="btn-group">
    <a href="/login/social?provider=google" class="btn btn-default">
        <i class="fa fa-google"></i> Google</a>
    <a href="/login/social?provider=facebook" class="btn btn-default">
        <i class="fa fa-facebook"></i> Facebook</a>
    <a href="/login/social?provider=twitter" class="btn btn-default">
        <i class="fa fa-twitter"></i> Twitter</a>
</div>